<main class="container" >
        <div class="d-flex flex-column align-items-center my-1 py-2 ">
            <h1 class="display-2">Diego Alves</h1>
            <h1 class="display-6">Desenvolvedor front-end</h1>
        </div>
        <hr class="my-4">
        <div class="d-flex gap-1  justify-content-center m-5">
            <a class="btn btn-outline-primary btn-lg" href="https://www.linkedin.com/in/diego-alves-26b304211/" target="_blank">Linkedin</a>
            <a class="btn btn-outline-primary btn-lg" href="https://github.com/alvesdiiego" target="_blank">Github</a>
        </div>
      <div class="d-flex  m-5 text-center">
        <div class=" d-flex  my-1">
            <p class="lead">No github, tem alguns dos projetos que elaborei praticando através dos cursos onlines. Projetos simples e básicos como por exemplo, calculadora, e também de um banco online, e outros projetos usando html, css, javascript, java, angular, postgresql, bootstrap e também reactjs. No linkedin, tem alguns certificados de cursos e bootcamps concluidos.</p>
        </div>
    </div>
</main>