<main class="container" >
        <div class="d-flex flex-column align-items-center my-3 py-2 ">
            <h1 class="display-2">Diego Alves</h1>
            <h1 class="display-6">Desenvolvedor front-end</h1>
        </div>
        
        <div class="d-flex gap-1  justify-content-center my-5">
            <a class="btn btn-outline-primary btn-lg" href="https://www.linkedin.com/in/diegoalves-dev/" target="_blank">Linkedin</a>
            <a class="btn btn-outline-primary btn-lg" href="https://github.com/alvesdiiego" target="_blank">Github</a>
        </div>
        <hr class="my-5">
      <div class="my">
        <div class=" d-flex  my-5 text-center">
            <p class="lead" >
                Desenvolvi alguns projetos básicos, como por exemplo uma calculadora, uma plataforma de pesquisa de usuário com API e também um banco online, onde é possível realizar cadastro, consultar saldo, extrato e outras operações bancárias. Esses projetos foram desenvolvidos com as seguintes tecnologias como por exemplo HTML, CSS, JAVASCRIPT, REACTJS, ANGULA, BOOTSTRAP, JAVA, SPRING e POSTGRESQL. No github, tem mais outros projetos que elaborei, praticando através dos cursos onlines. Na plataforma do linkedin tem outros certificados dos cursos que realizei. </p>
        </div>
    </div>
</main>