<main class="container">
    <div class="col">
        <div class="d-flex justify-content-center">
            <h1 class="display-4">Projetos</h1>
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
             <h1 class="display-6">Cálculos JS</h1>
            </div>
            <div class="card" style="width:100%">
                <img src="/assets/img/img7.png" style="width:100%">
            </div>
            <div class="d-flex justify-content-center">
             <a class="btn btn-outline" href="https://alvesdiiego.github.io/calculadoraJS/" target="_blank">Visitar</a>
            </div>          
        </div>
        <div class="col">
            <div class="d-flex justify-content-center">
             <h1 class="display-6">Bankline APP</h1>
            </div>
            <div class="card" style="width:100%">
                <img src="/assets/img/img8.png" style="width:100%">
            </div>
            <div class="d-flex justify-content-center">
             <a class="btn btn-outline" href="https://appbankline.netlify.app/" target="_blank">Visitar</a>
            </div>          
        </div>
        <div class="col m-1">
            <div class="d-flex justify-content-center">
             <h1 class="display-6">Pesquisa GH</h1>
            </div>
            <div style="width:100%">
                <img src="/assets/img/img5.png" style="width:100%">
            </div>
            <div class="d-flex justify-content-center m-2">
             <a class="btn btn-outline" href="https://pesquisagh.netlify.app/ " target="_blank">Visitar</a>
            </div>          
        </div>
    </div>
</main>
