<main class="container my-3">
  
      <div class="d-flex flex-column align-items-center my-3 py-2" >
          <h1 class="display-2">Certificados</h1>
      </div>
      
     <div class= "row row-cols-md-2 " >
        <div class="row-cols-1 mb-1" >
            <img src="https://hermes.digitalinnovation.one/certificates/cover/BFDB4530.jpg" class="img-fluid" alt="Imagem do certificado Java beginners">
        </div>
      <div class="row-cols-1 mb-1" >
          <img src="/assets/img/certificado.png" class="img-fluid" alt="Imagem do certificado Gestão de infraestrutura de TI" >
      </div>
      <div class="row-cols-1 mb-1">
          <img src="https://hermes.digitalinnovation.one/certificates/cover/061B3A89.jpg" class="img-fluid" alt="Imagem do certificado Fullstack developer">
      </div>
      <div class="row-cols-1  mb-1"  >
          <img src="https://hermes.digitalinnovation.one/certificates/cover/F224CD8A.jpg" class="img-fluid" alt="Imagem do certificado React web developer">
      </div>
      <div class="row-cols-1  mb-1 " >
          <img src="https://hermes.digitalinnovation.one/certificates/cover/FD79D7AE.jpg" class="img-fluid" alt="Imagem do certificado React developer">
      </div>
      <div class="row-cols-1 mb-1  "  >
          <img src="https://hermes.digitalinnovation.one/certificates/cover/FF33A96C.jpg" class="img-fluid" alt="Imagem do certificado Web developer">
      </div>
    </div>
  
</main>