<main class="container">
    <div class="container m-1">
        <div class="d-flex justify-content-center" >
            <h1 class="display-4">Certificados</h1>
        </div>
        <div class="card  m-2">
            <img src="/assets/img/certificado.png">
        </div>
        <div class="card m-2">
            <img src="https://hermes.digitalinnovation.one/certificates/cover/061B3A89.jpg">
        </div>
        <div class="card m-2">
            <img src="https://hermes.digitalinnovation.one/certificates/cover/F224CD8A.jpg">
        </div>
        <div class="card m-2">
            <img src="https://hermes.digitalinnovation.one/certificates/cover/FD79D7AE.jpg">
        </div>
        <div class="card m-2">
            <img src="https://hermes.digitalinnovation.one/certificates/cover/FF33A96C.jpg">
        </div>
    </div>
</main>