.header-wrapper {
    width: auto;
    height: 4rem;
    background: linear-gradient(75deg, #9f42c05f, #085078,#4ca59b, #1fa194);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundTransition 8s ease-in-out infinite;
}



@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
    
}

