<div class="header-wrapper">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/inicio" class="nav-link" style="color:#ffff">Inicio</a></li>
      <li class="nav-item"><a routerLink="/projetos" class="nav-link" style="color:#ffff">Projetos</a></li>
      <li class="nav-item"><a routerLink="/certificados" class="nav-link" style="color:#ffff">Certificados</a></li>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>
<footer class="header-wrapper" style="color:#ffff">
  Desenvolvido por Diego Alves © 2022
</footer>